.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.not-found-img {
  width: 400px;
}

.not-found-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 500;
}

.not-found-message {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
}
