.all-jobs-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .all-jobs-section {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 768px) {
  .all-jobs-container {
    margin-left: 30px;
    width: 70%;
  }
}

.all-jobs-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .all-jobs-section {
    flex-direction: row;
    justify-content: space-between;
  }
  .loader-container {
    width: 70%;
  }
}

.search-input-container {
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  border-radius: 8px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  width: 36%;
}
.search-input {
  background-color: #f1f5f9;
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  flex-grow: 1;
}
.search-icon {
  color: #475569;
  width: 20px;
  height: 20px;
}

.search-icon-button {
  border: none;
  cursor: pointer;
}

.jobs-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.jobs-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .jobs-heading {
    font-size: 32px;
  }
}
.jobs-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.no-jobs-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 64px;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .no-jobs-view {
    margin-left: 30px;
    width: 70%;
    padding-bottom: 0;
    margin-top: 0px;
  }
}
.no-jobs-img {
  width: 250px;
  height: 180px;
}
@media screen and (min-width: 768px) {
  .no-jobs-img {
    width: 459px;
    height: 315px;
  }
}
.no-jobs-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3px;
}
@media screen and (min-width: 768px) {
  .no-jobs-heading {
    margin-top: 32px;
    font-size: 24px;
  }
}
.no-jobs-description {
  text-align: center;
  color: #64748b;
  font-family: 'Roboto';
  font-size: 14px;
  width: 90%;
  max-width: 288px;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .no-jobs-description {
    margin-top: 12px;
    font-size: 18px;
    width: 60%;
    max-width: 466px;
  }
}
.jobs-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .jobs-error-view-container {
    margin-top: 0px;
    margin-left: 30px;
    width: 70%;
    padding-bottom: 0;
  }
}
.jobs-failure-img {
  width: 250px;
  height: 200px;
}
@media screen and (min-width: 768px) {
  .jobs-failure-img {
    width: 400px;
    height: 350px;
  }
}
.job-failure-heading-text {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .job-failure-heading-text {
    font-size: 24px;
  }
}
.jobs-failure-description {
  text-align: center;
  color: #64748b;
  font-family: 'Roboto';
  font-size: 14px;
  width: 90%;
  max-width: 288px;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .jobs-failure-description {
    font-size: 18px;
    width: 60%;
    max-width: 466px;
  }
}
.jobs-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .jobs-loader-container {
    width: 70%;
  }
}
